<footer class="footer">
  <div class="container-footer">
    <nav class="footer__nav">
      <ul class="footer__nav--ul">
        <li>
          <a class="footer_link" href="">Legal</a>
        </li>
        <li>
          <a class="footer_link" href="">Cookies</a>
        </li>
      </ul>
    </nav>
    <small class="footer__info">
      <a class="footer_link" href="">Información sobre los anuncios</a>
    </small>
  </div>
  <div class="footer__country">
    <small>España </small>
    <img
      class="img_flag"
      src="./assets/images/es.svg"
      alt="Bandera de españa"
      title="Bandera de españa"
    />
  </div>

  <small class="footer__copy"> &copy; Spotify AB</small>
</footer>
