<header class="header">
  <img
    class="header__logo"
    src="./assets/images/logo.png"
    alt="Logo de Spotify"
    title="Logo de Spotify"
  />
  <img
    src="./assets/images/menu-icon.png"
    alt="Menú hamburguesa"
    class="header__hamb"
    title="Menú hamburguesa"
  />
  <nav class="header__nav">
    <ul class="header__ul">
      <li class="header__ul--li">
        <a class="link_nav_header" href="">Premium </a>
      </li>
      <li class="header__ul--li">
        <a class="link_nav_header" href="">Ayuda</a>
      </li>
      <li class="header__ul--li">
        <a class="link_nav_header" href="">Descargar</a>
      </li>
      <li class="header__ul--li line_nav">
        <a class="link_nav_header" href="">Registrarse</a>
      </li>
      <li class="header__ul--li">
        <a class="link_nav_header" href="">Iniciar sesión</a>
      </li>
    </ul>
  </nav>
</header>
