.main {
  background-color: $main-color-bg;
  color: $main-color-txt;
  padding: 20px 15px;
  &__section--p {
    height: 50vh;
  }
  @include tablet(768px) {
    background-color: white;
  }
  @include desktop(1280px) {
    background-color: $main-color-bg;
  }
}

.title {
  font-size: 32px;
  @include tablet(768px) {
    font-size: 24px;
    color: $header-color-txt;
  }
  @include desktop(1280px) {
    font-size: 44px;
    color: $main-color-txt;
  }
}
