.title {
  text-transform: uppercase;
}
.success {
  border: solid rgb(3, 92, 3) 2px;
  background-color: lightgreen;
  color: rgb(3, 92, 3);
}

.error {
  border: solid rgb(126, 8, 8) 2px;
  background-color: rgb(233, 153, 153);
  color: rgb(126, 8, 8);
}

.warning {
  border: solid rgb(155, 155, 15) 2px;
  background-color: lightyellow;
  color: rgb(155, 155, 15);
}
