* {
  margin: 0;
  box-sizing: border-box;
}

.js-background {
  font-family: sans-serif;
  padding: 30px;
  line-height: 30px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
