* {
  font-family: "Roboto", sans-serif;
  color: palevioletred;
}

.page {
  margin: 20px;
}

.title {
  margin-bottom: 20px;
}

.container {
  width: 600px;
  height: 100px;
  padding: 20px;
  border: violet 2px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  background-color: white;
  box-sizing: border-box;
  border: white 1px solid;
  text-align: center;
  width: min-content;
}
