* {
  font-family: "Lato", sans-serif;
}

:root {
  --text-color: rgb(128, 128, 128);
}

.header {
  background-color: rgb(44, 44, 44);
  color: rgb(230, 230, 230);

  padding: 10px 0;
}

.container-h {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.name {
  font-size: 22px;
}

.menu {
  display: flex;
  min-width: 230px;
  justify-content: space-between;
}

.main {
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: var(--text-color);
}

.post {
  margin-top: 50px;
}

.post-text {
  margin-top: 20px;
  color: var(--text-color);
}

.footer {
  border-top: solid rgb(190, 190, 190) 1px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.container-f {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin-top: 20px;
}

.media {
  display: flex;
  min-width: 230px;
  justify-content: space-between;
}
