* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
  margin: 30px 100px 30px 100px;
}

.item {
  text-decoration: underline;
  cursor: help;
}

.tooltip {
  display: none;
}

.item-html:hover .tooltip-html {
  display: inline-block;
  width: 400px;
  height: 200px;
  padding: 40px 20px 10px 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  transform: translate(3%, -10%);
}

.item-css:hover .tooltip-css {
  display: inline-block;
  width: 400px;
  height: 200px;
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  transform: translate(2%, -7%);
}

.item-js:hover .tooltip-js {
  display: inline-block;
  width: 400px;
  height: 200px;
  padding: 40px 20px 10px 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  transform: translate(2%, -7%);
}
