body {
  background-color: rgb(187, 187, 187);
  height: 100vh;
  width: 100%;
}

.header {
  font-size: 42px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.menu {
  background-color: greenyellow;
}

.menu-item {
  color: blue;
  text-decoration: underline;
  font-size: 20px;
  line-height: 24px;
}

.main-info {
  background-color: yellow;
}

.main-title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.related-info {
  background-color: gray;
  margin-top: 15px;
}

.related-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 15px;
}

@media all and (min-width: 480px) {
  .main {
    display: flex;
    margin: 0 20px 15px 0;
  }

  .menu {
    min-width: 200px;
    margin-right: 20px;
  }

  .related-info {
    margin: 0;
  }

  .main-container {
    display: flex;
    align-items: flex-start;
  }

  .main-image {
    background-color: orange;
    min-width: 200px;
    min-height: 250px;
    margin: 0 0 30px 0;
  }
}

@media all and (min-width: 1000px) {
  .info {
    display: flex;
    align-items: flex-start;
  }

  .related-info {
    margin: 0 0 0 20px;
  }

  .main {
    margin-right: 0;
  }
}
