.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  @include tablet {
    align-items: center;
  }
  &__title {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0 30px;
    @include tablet {
      font-size: 32px;
      margin-bottom: 60px;
    }
  }
}

.benefits {
  width: 360px;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 850px;
  }
  &__article {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 50px 50px;
    margin-bottom: 50px;

    &--img {
      grid-row: span 2;
      height: 100px;
    }
    &--title {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    &--text {
      font-size: 0.9rem;
    }
  }
}

.text-4 {
  margin-top: 1.2rem;
}
