.header {
  position: fixed;
  background-color: black;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  &__logo {
    height: 25px;
  }
  &__hamb {
    width: 20px;
    @include tablet {
      display: none;
    }
  }
  &__nav {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__ul {
    display: none;
    @include tablet {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--li {
      padding: 0 15px;
    }
  }
}

@media (min-width: 768px) {
  .link_nav_header {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
  }

  .line_nav {
    border-left: solid white 1px;
  }
}
