.hero {
  background-color: rgb(73, 160, 231);
  padding: 170px 15px 25px 15px;
  color: white;
  width: 100%;
  @include tablet {
    height: 450px;
    padding: 130px 0 0 25px;
  }
  &__content {
    @include tablet {
      position: absolute;
    }
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 15px;
    @include tablet {
      font-size: 3.7rem;
      line-height: 4rem;
      max-width: 700px;
    }
  }
  &__subtitle {
    line-height: 1.5;
    margin-bottom: 15px;
    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
  }
  &__button {
    display: block;
    text-align: center;
    background-color: rgb(30, 215, 96);
    border: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 20px;
    width: 100%;
    max-width: 350px;
    @include tablet {
      width: 170px;
    }
    &--link {
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      @include tablet {
        font-size: 12px;
      }
    }
  }
  &__small {
    display: block;
    margin-top: 20px;
    font-size: 9px;
    line-height: 1.5;
    @include tablet {
      margin-bottom: 20px;
    }
  }
}

.img-hero {
  display: none;
  @include tablet {
    display: block;
    height: 370px;
    width: 370px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/premium_dancer.png);
    position: absolute;
    right: 0;
    top: 80px;
  }
}
