* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.header {
  background-color: orangered;
  padding: 10px 0 10px 0;
  text-align: center;
}

.main {
  display: flex;
}

.article {
  background-color: rgb(39, 159, 228);
  padding: 10px 5px;
  flex-basis: 60%;
}

.aside {
  text-align: center;
  padding-top: 10px;
  flex-basis: 20%;
}

.aside-1 {
  background-color: yellow;
  order: -1;
}

.aside-2 {
  background-color: rgb(224, 94, 137);
}

.footer {
  background-color: greenyellow;
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
}
