.page__header {
  background-color: $header-color-bg;
  color: $header-color-txt;
  padding: 20px 15px;
  height: 75px;
  @include tablet(768px) {
    height: 100px;
  }
  @include tablet(1280px) {
    height: 110px;
  }
}
