<main class="main">
  <section class="main__section--p">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      voluptatibus quibusdam! Dicta, ut ea voluptatibus aliquid eaque iste esse
      corrupti harum ducimus magni quo rem adipisci maxime ipsa assumenda ad.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, illo id
      amet error recusandae dolores fugit officia sit illum officiis assumenda.
      Praesentium voluptatem nemo tempora tempore sunt. Sunt, aperiam ea! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Beatae natus possimus
      officia similique illum facere quas nostrum nihil alias voluptatum quod
      voluptate consequuntur quo quia tempora corporis, cupiditate perferendis
      illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
      expedita cumque nemo, quisquam non impedit officiis. Hic ad sed
      accusantium delectus aliquam dolorem quo. Minus quis cupiditate voluptate
      excepturi quidem?
    </p>
  </section>
  <section class="main__section--title">
    <h2>Título</h2>
    <button class="button">Botón</button>
  </section>
</main>
