* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.completed {
  text-decoration: line-through;
}

.title {
  font-size: 22px;
  margin: 20px 35px 15px;
}

.list {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
