* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: unset;
}

* {
  font-family: sans-serif;
}

:root {
  font-size: 16px;
}

.header {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 25px;
}

.hamb {
  width: 20px;
}

.nav {
  display: none;
}

.hero {
  margin-top: 50px;
  background-color: rgb(73, 160, 231);
  padding: 80px 15px 25px 15px;
  color: white;
}

.title-hero {
  font-size: 2rem;
  margin-bottom: 15px;
}

.subtitle {
  line-height: 1.5;
  margin-bottom: 15px;
}

.button-container {
  display: block;
  text-align: center;
  background-color: rgb(94, 228, 94);
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 20px;
  width: 100%;
  font-size: 14px;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.small {
  display: block;
  margin-top: 20px;
  font-size: 9px;
  line-height: 1.5;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  background-color: blueviolet;
}

.title2 {
  font-size: 18;
}
