// fonts
$font-main: "Roboto", sans-serif;

// colors
$header-color-bg: #9ba7ec;
$main-color-bg: #d2d7f7;
$button-color-bg: red;
$header-color-txt: #212b64;
$main-color-txt: #3b3b3b;
$button-color-txt: rgb(255, 255, 255);
