.container-flex {
  height: 100vh;
  background-color: cornsilk;
}

.container__item {
  &--header {
    background-color: blue;
    height: 20vh;
  }
  &--menu {
    background-color: blueviolet;
  }
  &--content {
    background-color: burlywood;
    height: 60vh;
  }
  &--footer {
    background-color: cadetblue;
    height: 20vh;
  }
}
