body {
  font-family: "Montserrat", sans-serif;
}
div {
  display: block;
  display: inline;
  display: inline-block;
}

.img-1 {
  display: block;
  width: 100px;
  height: 100px;
}
.img-2 {
  display: block;
  width: 200px;
  height: 200px;
}
