header {
  background-color: blanchedalmond;
}
.menu {
  background-color: blueviolet;
}
nav {
  background-color: crimson;
}
.link {
  text-decoration: none;
}
#title {
  color: cornflowerblue;
}
